
h1 {
    background: rgba(146, 56, 74, 0.767);
    font-family: 'Cormorant Garamond', serif;
    width: 40vw;
    height: 10vh;
    margin: 0;
    padding-right: 0;
    font-size: 80px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    max-width: 1950px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 26, 34);
}
.x {
  animation: x 5s linear infinite alternate;
  width: 40vw;
  display: hidden;
}
.y {
  animation: y 7s linear infinite alternate;
  background: rgba(73, 56, 146, 0.767);
  height: 20vh;
}
@keyframes x {
  100% {
    transform: translateX( calc(100vw - 40vw) );
  }
}
@keyframes y {
  100% {
    transform: translateY( calc(100vh - 20vh) );
  }
}

@media only screen and (max-width: 600px) {
    h1 {
        width: 80vw;
        font-size: 0px;
    }
    @keyframes x {
        100% {
            transform: translateX( calc(100vw - 80vw) );
        }
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        width: 70vw;
        font-size: 50px;
    }
    @keyframes x {
        100% {
            transform: translateX( calc(100vw - 70vw) );
        }
    }
}
@media only screen and (max-width: 992px) {
    h1 {
        width: 55vw;
        font-size: 60px;
    }
    @keyframes x {
        100% {
            transform: translateX( calc(100vw - 55vw) );
        }
    }
}
@media only screen and (max-width: 1200px) {
    h1 {
        width: 40vw;
        font-size: 70px;
    }
    @keyframes x {
        100% {
            transform: translateX( calc(100vw - 40vw) );
        }
    }
}
@media only screen and (min-width: 1200px) {
    h1 {
        width: 30vw;
        font-size: 80px;
    }
    @keyframes x {
        100% {
            transform: translateX( calc(100vw - 30vw) );
        }
    }
}
